* {
  box-sizing:border-box;
}

body {
  background: rgb(55, 107, 81);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 10px solid rgb(61, 60, 60);

  transform: scale(2) translateY(50%);
  /* scale = zoom */
}

.game-container canvas {
  image-rendering: pixelated;
}